<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions"/>
	</configSections>
	<connectionStrings>
		<add name="ELITERIA" connectionString="Data Source=DESKTOP-IK1QN6E;Initial Catalog=ELITERIA;Integrated Security=True"/>
	</connectionStrings>
</configuration>